* {
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}

#me {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    border: solid;
}

li a{
    text-decoration: none;
    color: white;
    font-size: 40px;
}

li a:hover{
	color: rgba(0, 0, 0, 0.1);
}

li {
    list-style-type: none;
}

.nav-bar ul{
    display: flex;
    justify-content: space-around;
}

.banner {
    background-color: rgba(128, 128, 128, 50%);
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

}

.nav-bar-2 ul a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    
}

.banner-2 {
    position: fixed;
    background-color: rgba(128, 128, 128, 50%);
    width: 120px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 100;

}


.main {
    margin-top: 170px;
    margin-left: 170px;
    padding-bottom: 200px;
}


.paragraph {
    font-size: 20px;
    width: 70%;
    flex-wrap: wrap;
    text-align: center;
    padding: 100px;
    align-self: center;
}

.container {
    display: flex;
    height: 500px;
}

.img-logo {
    width: 75px;
    height: 75px;
    margin-right: 25px;
}

#linkedin {
    position: absolute;
    top: 40%;
    right: 0;
}

#github {
    position: absolute;
    top: 50%;
    right: 0;
}

body{
	height: 100vh;
	width: 100%;
}

footer {
    padding: 0;
	margin: 0;
}

.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	filter: blur(50px);
	z-index: -1;
}


footer h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

footer h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #27ae60;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}