* {
    box-sizing: border-box;
}

#me {
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

li a{
    text-decoration: none;
    color: white;
    font-size: 40px;
}

li {
    list-style-type: none;
}

.nav-bar ul{
    display: flex;
    justify-content: space-around;
}

.banner {
    background-color: grey;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

}

.nav-bar-2 ul a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    
}

.banner-2 {
    position: fixed;
    background-color: grey;
    width: 120px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 100;

}


.main {
    margin-top: 150px;
    margin-left: 150px;

}

.paragraph {
    font-size: 20px;
    display: flex;
    width: 30%;
    flex-wrap: wrap;
    text-align: center;
    align-self: flex-end;
}

.img-logo {
    width: 75px;
    height: 75px;
    margin-right: 25px;
}

#linkedin {
    position: absolute;
    top: 40%;
    right: 0;
}

#github {
    position: absolute;
    top: 50%;
    right: 0;
}